@font-face {
    font-family: 'OnestRegular';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/OnestRegular.woff") format('woff')
}

@font-face {
    font-family: 'OnestMedium';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/OnestMedium.woff") format('woff')
}